body{
color:darkred;
background:lime;
font-size:32px;
}

h1{
color:purple;
font-size:47px;
text-align:center;
}

h1 span{
color:darkblue;
background:lightblue;
font-size:32px;
text-decoration:underline;
}